.about {
	height: inherit;
	width: inherit;
}

.about__section {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.diamond-bg-wrapper {
	--size: 15em;
	display: flex;
	justify-content: center;
	align-items: center;
	height: var(--size);
	width: var(--size);
	transform: rotate(45deg);
	background-color: var(--bg-color);
	border: 15px double var(--bg-color);
	background-clip: padding-box;
	box-shadow: -0.5rem 0.5rem #00000033;
}

.diamond-bg-wrapper--type-link {
	display: flex;
	text-decoration: none;
}

.diamond__content {
	--font-size: var(--text-font-size-md);
	font-size: var(--font-size);
	text-align: center;
	transform: rotate(-45deg);
}

.diamond-bg-wrapper--size-mid {
	--size: 10em;
}

.rotate--45deg {
	transform: rotate(-45deg);
}

.links {
	height: 90%;
	width: max-content;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background: 
		linear-gradient(360deg, rgba(255,255,255,0.3) 47%, rgba(185,255,236,0) 100%);
}