.button {
	--border-color1: var(--color-purple-600);
	--border-color2: var(--color-purple-500);
	--text-color: var(--color-white);
	--bg-color: var(--heading-color);
	--border-color: 
	var(--border-color2) var(--border-color2)
	var(--border-color1) var(--border-color1);
	cursor: pointer;
}

.button--rectangle {
	font-size: var(--text-font-size-l);
	font-weight: bold;
	text-align: center;
	background-color: var(--bg-color);
	color: var(--text-color);
	border-style: outset;
	border-color: var(--border-color);
	border-width: 5px;
	width: 8em;
	line-height: 20px;
}

.button--rectangle:hover {
	--bg-color: blue;
    --border-color: red yellow green green;
	cursor: pointer;
}

.button--rectangle:target {
	--bg-color: blue;
    --border-color: red yellow green green; 
}

.button_type__btn {

}

.button-type--a {
	text-decoration: none;
}