.derived-table {
	width: 100%;
}

.derived-table__heading {
	-webkit-user-select: none;     
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: 10px;
}

.derived-table__heading:hover {
	background-color: rgba(255, 231, 165, 0.485);
	border-bottom: 1px solid var(--heading-color);
}

.derived-table__row {
	-webkit-user-select: none;     
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #fdf6e3d3;
	border-left: 1px solid;
	border-right: 1px solid;
	border-color: var(--color-purple-600);
}

.derived-table__row:hover {
	background-color: rgba(255, 231, 165, 0.485);
}

.derived-table__row--odd {
	background-color: rgba(217, 204, 168, 0.2);
}

.derived-table__row--even {
	background-color: rgba(255, 231, 165, 0.2);
}

.derived-table__image {
	width: 100%;
	aspect-ratio: 1/1;
	object-fit: cover;
	border-radius: 100%;
	border: 3px solid rgba(90, 87, 71, 0.164);
}

.derived-table__cell {
	text-align: center;
}

.derived-table__cell--item {
	font-size: 10px;
}

.derived-table__cell--bordered {
	border-radius: 1%;
	border: 2px solid rgba(82, 81, 81, 0.055);
	background-color: rgba(158, 158, 158, 0.027);
}

.derived-table__cell--item-image {
	width: 25px;
}

/* Larger than mobile */
@media (min-width: 400px) {
	
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {

}

/* Larger than tablet */
@media (min-width: 750px) {

}

/* Larger than desktop */
@media (min-width: 1000px) {

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
	/* .derived-table {
		border: 0;
		border-collapse: collapse;
	}
	
	.derived-table__heading {
		-webkit-user-select: none;     
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		width: 1em;
		font-size: var(--text-font-size-2md);
		padding: 0em 0.2em;
	}
	
	.derived-table__heading:hover {
		background-color: rgba(255, 231, 165, 0.485);
		border-bottom: 1px solid var(--heading-color);
	}
	
	.derived-table__row {
		background-color: #fdf6e3d3;
	}
	
	.derived-table__row:hover {
		background-color: rgba(255, 231, 165, 0.485);
	}
	
	.derived-table__row--odd {
		background-color: rgba(217, 204, 168, 0.2);
	}
	
	.derived-table__row--even {
		background-color: rgba(255, 231, 165, 0.2);
	}
	
	.derived-table__image {
		aspect-ratio: 1/1;
		width: 100%;
		border-radius: 100%;
	}
	
	.derived-table__cell {
		padding: 0.25em 1em;
	}
	
	.derived-table__cell--item {
		font-size: var(--text-font-size-2md);
	}
	
	.derived-table__cell--item-image {
		width: 10%;
	} */
}