
@font-face {
	font-family: "Citizen";
	src: url("./../../resources/medio.otf");
	font-stretch: 25%;
}

.Content {
	position: sticky;
	background-color: var(--bg-color);
	width: 60%; /* 100 - 20vw*2 */
	margin: 4.5vh auto;
	justify-content: center;
	border-style: double;
	border-width: 15px;
	border-color: var(--bg-color);
	background-clip: padding-box;
}
.Content:after {
  	content: " ";
  	position: absolute;
  	z-index: -1;
  	top: -18px;
  	left: -18px;
  	right: -18px;
  	bottom: -18px;
	border-style: solid;
	border-width: 3px;
	border-color: var(--button-border-color2);
	background-clip: padding-box;
  	box-shadow: -15px 15px #00000033;
}

.MainHeading {
	margin: 30px 0;
}

.Content h1 {
	font-family: 'Citizen';
	font-size: 64px;
	padding: 0;
	margin: 0;
	color: var(--heading-color);
}

.Content h2 {
	font-size: 32px;
	margin: 0;
}

.Content p {
	font-size: 28px;
	margin: 20px;
	padding: 0;
}


@media (max-width: 1439px) {
	.Content {
		width: 70%
	}
}

@media (max-width: 1024px) {
	.Content {
		width: 80%
	}
}

@media (max-width: 768px) {
	.Content {
		width: 88%;
	}

}

@media (max-width: 400px) {
	.Content {
		width: 90%;
		margin-top: 20px;
	}
	.Content::after{
		box-shadow: none;
	}
}
