.nav-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 2em;
	font-size: 12px;
}

.button {
	width: 200px;
	padding: 2px;
}

@media(max-width: 1220px) {
	.nav-container {
		display: flex;
		flex-direction: column;
		gap: .5em;
		font-size: 12px;
		margin-top: -3%;
	}
	.button {
		width: 200px;
	}
}

@media(max-width: 630px) {
	.nav-container {
		display: flex;
		flex-direction: column;
		gap: .5em;
		font-size: 12px;
	}
	.button {
		width: 200px;
	}
}

@media(max-width: 400px) {
	.nav-container {
		display: flex;
		flex-direction: column;
		gap: .5em;
		font-size: 10px;
		margin-bottom: 20px;
		margin-top: -20px;
	}
	.button {
		width: 150px;
		height: 1vh;
		padding-bottom: 20px;
	}
}