
.Card {
	text-align: center;
	margin: auto 0;
}

.CardImg {
	width: 10%;
	padding: 5px
}

.Card img {
	width: 100%;
	aspect-ratio: 1/1;
	object-fit: cover;
}

.CardName {
	width: 30%;
	font-size: 32px;
}

.Data {
	font-size: 26px;
	width: 10%
}


.IsNotInfo {
	background-color: #fbdee4
}
