

.MainNav button {
	font-size: 22px;
	margin: 10px;
	margin-bottom: 20px;
	background-color: var(--);
	background: var(--button-color) !important;
	border-width: 5px;
	color: var(--button-text-color);
	border-color: 
		var(--button-border-color2) var(--button-border-color2)
		var(--button-border-color1) var(--button-border-color1)
}
