@import url(./styles/reset.css);
@import url(./styles/colors.css);
@import url(./styles/fonts.css);
@import url(./styles/text.css);

:root {
	--heading-color: #014;
	--bg-color: #fdf6e3;
}

html {
	background: url("./resources/clouds.png") no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	overflow: overlay;
}

.container {
	width: 100vw;
	height: 100vh;
}

/* .scroller {
	--scroller-width: 0.2em;
	scrollbar-width: var(--scroller-width);
}

.scroller--theme-custom {
	--scroller-width: 30px;
}

.scroller--theme-custom::-webkit-scrollbar {
	--scroller-width: 30px;
}

.scroller--theme-custom::-webkit-scrollbar-track {
	border: solid 10px transparent;
}

.scroller--theme-custom::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 20px var(--color-purple-600);
    border: solid 10px transparent;
	border-radius: 15px;
}
.scroller--theme-custom::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 10px 20px #00000077
}
 */


