@import url(./styles/reset.css);
@import url(./styles/colors.css);
@import url(./styles/fonts.css);
@import url(./styles/text.css);
@import url(./styles/scrollbar.css);

:root {
	--heading-color: #014;
	--bg-color: #fdf6e3;
}

html {
	background: url("./resources/clouds.png") no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	overflow: overlay;
	font-family: 'Citizen', Courier, monospace;
}

.container {
	width: 100vw;
	height: 100vh;
}