@import url(./styles/reset.css);
@import url(./styles/colors.css);
@import url(./styles/fonts.css);
@import url(./styles/text.css);

:root {
	--heading-color: #014;
	--bg-color: #fdf6e3;
}

html {
	background: url("./resources/clouds.png") no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	overflow: overlay;
}

.container {
	width: 100vw;
	height: 100vh;
}

.scrollbar {
	--scrollbar-width: 0.2em;
	--scrollbar-bg-color: var(--color-purple-600);
	overflow-y: auto;
	overflow-x: hidden;
}

.scrollbar--theme-custom {
	--scrollbar-width: 14px;
}

.scrollbar--theme-custom::-webkit-scrollbar {
	width: var(--scrollbar-width);
}

.scrollbar--theme-custom::-webkit-scrollbar-thumb {
	border: 4px solid rgba(0, 0, 0, 0);
	background-clip: padding-box;
	border-radius: 20px;
	background-color: var(--scrollbar-bg-color);
}
.scrollbar--theme-custom::-webkit-scrollbar-thumb:hover {
	--scrollbar-bg-color: #00000077;
}